#!/bin/sh

config_dir="${HOME}/.config/chezmoi"

if [ ! -f "${config_dir}/key.txt" ]; then
  mkdir -p "${config_dir}"

  max_retry=10
  counter=0
  until {{ .chezmoi.executable }} age decrypt --output "${config_dir}/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
  do
    [[ counter -eq $max_retry ]] && echo "Too many attempts, aborting." && exit 1
    echo "Please try again."
    ((counter++))
  done

  chmod 600 "${config_dir}/key.txt"
fi
